<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>roomate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4250E2881DA0314C002F7FA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4250E29F1DA0314C002F7FA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42A467491DE67873003CEAD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
